<h1>Acompanhe sua candidatura</h1>

<%= @job.title %>, <%= @job.company.name %>
<%= @job.description %>
<%= @job.remuneration %>
<%= @application.letter %>
<%= @application.created_at %>
<%= @application.status %>

<%= link_to 'Retirar candidatura', application_path(@application), method: :delete %>