<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "recruiters/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :password %> 
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Precisamos de sua senha atual para confirmar a alteração)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>

<h3>Quero cancelar a minha conta</h3>

<%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %>

<%= link_to "Voltar", :back %>
