<% if @job.errors.any? %>
  <% if @job.persisted? %>
    <p>Não foi possível editar a vaga</p>
  <% else %>
    <p>Não foi possível criar a vaga</p>
  <% end %>

  <p>Confira os erros abaixo:</p>
    <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    
  <% end %>

<%= form_with model: @job do |form| %>
    <%= form.label :title, "Título" %>
    <%= form.text_field :title %>
    
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, size: "70x5" %>

    <%= form.label :requirements, "Requisitos obrigatórios" %>
    <%= form.text_area :requirements, size: "70x5" %>

    <%= form.label :level, "Nível do cargo" %>
    <%= form.text_field :level %>

    <%= form.label :remuneration, "Oferta de remuneração" %>
    <%= form.text_field :remuneration %>

    <%= form.label :spots_available, "Vagas disponíveis" %>
    <%= form.number_field :spots_available, in: 1..20 %>

    <%= form.label :expiration_date, "Data limite para envio de candidaturas" %>
    <%= form.text_field :expiration_date %>

    <%= form.submit "Salvar" %>
  <% end %>