<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<h1><%= @job.title %></h1>
<% if @job.disabled? %>
  <h2> Vaga desativada </h2>
<% end %>

<dl>
  <dt><%= Job.human_attribute_name(:description) %></dt>
  <dd><%= @job.description %></dd>

  <dt><%= Job.human_attribute_name(:requirements) %></dt>
  <dd><%= @job.requirements %></dd>

  <dt><%= Job.human_attribute_name(:level) %></dt>
  <dd><%= @job.level %></dd>

  <dt><%= Job.human_attribute_name(:remuneration) %></dt>
  <dd><%= number_to_currency(@job.remuneration) %></dd>

  <dt><%= Job.human_attribute_name(:spots_available) %></dt>
  <dd><%= @job.spots_available %></dd>

  <dt><%= Job.human_attribute_name(:expiration_date) %></dt>
  <dd><%= I18n.localize(@job.expiration_date) %></dd>
</dl>

<% unless recruiter_signed_in? %>
  <%= link_to 'Candidate-se para esta vaga', new_candidate_session_path %>
<% end %>


<% if current_recruiter&.company == @job.company %>
  <h2> Painel do recrutador - <%= @job.company.name %> </h2>

  <%= link_to 'Editar vaga', edit_job_path %>
  <%= link_to 'Desativar vaga', disable_job_path(@job), method: :post unless @job.disabled? %>
  <%= link_to 'Ativar vaga', enable_job_path(@job), method: :post unless @job.enabled? %>
  <%= link_to 'Ver candidaturas' %>
<% end %>

<%= link_to 'Voltar', :back %>
