<% if @company.errors.any? %>
  <% if @company.persisted? %>
    <p>Não foi possível editar as informações da empresa</p>
  <% else %>
    <p>Não foi possível registrar a empresa</p>
  <% end %>

  <p>Confira os erros abaixo:</p>
    <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    
  <% end %>

<%= form_with model: @company do |form| %>
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name %>

    <%= form.label :about, "Sobre a empresa" %>
    <%= form.text_area :about, size: "70x5" %>
    
    <%= form.label :address, "Endereço" %>
    <%= form.text_field :address %>

    <%= form.label :cnpj, "CNPJ" %>
    <%= form.text_field :cnpj %>

    <%= form.label :website, "Site" %>
    <%= form.text_field :website %>

    <%= form.label :domain, "Domínio de e-mail dos funcionários" %>
    <%= form.text_field :domain %>

    <%= form.label :logo, "Logo" %>
    <%= form.file_field :logo %>

    <%= form.submit "Salvar" %>
  <% end %>