<h1><%= @company.name %></h1>

<dl>
  <dt><%= Company.human_attribute_name(:about) %></dt>
  <dd><%= @company.about %></dd>

  <dt><%= Company.human_attribute_name(:address) %></dt>
  <dd><%= @company.address %></dd>

  <dt><%= Company.human_attribute_name(:website) %></dt>
  <dd><%= @company.website %></dd>
</dl>

<h2>Vagas disponíveis</h2>

<% if @company.jobs.empty? %>
  <p>Nenhuma vaga publicada</p>
<% else %>
  <% @company.jobs.each do |job| %>
    <% unless job.disabled? %>
      <h3><%= link_to job.title, job_path(job) %></h3>
      <dl>
        <dt><%= Job.human_attribute_name(:description) %></dt>
        <dd><%= job.description %></dd>
      </dl>
      <hr>
    <% end %>
  <% end %>
<% end %>

<% if current_recruiter&.company == @company %>
  <%= link_to 'Publicar vagas', new_job_path %>
<% end %>

<%= link_to 'Voltar', :back %>

