<h2>Editar perfil <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "candidates/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :full_name, 'Nome completo' %><br />
    <%= f.text_field :full_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :social_name, 'Nome social' %><br />
    <%= f.text_field :social_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :bio, 'Sobre você' %><br />
    <%= f.text_area :bio, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, 'Nova senha' %> <i>(Deixe em branco se não quiser mudar)</i><br />
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br />
      <em>mínimo <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirme a senha' %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Senha atual' %> <i>(Precisamos de sua senha atual para salvar as alterações)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>

