<h1>Painel do recrutador - <%= @company.name %></h1>

<%= link_to 'Perfil da empresa', company_path(@company) %>
<%= link_to 'Publicar vagas', new_job_path %>
<%= link_to 'Atualizar conta', edit_recruiter_registration_path %>

<h2>Vagas ativas: <%= @company.jobs.enabled.count %></h2>
  <% @company.jobs.each do |job| %>
    <% if job.enabled? %>
      <%= link_to job.title, job_path(job) %>
      <hr>
    <% end %>
  <% end %>

<h2>Vagas desativadas: <%= @company.jobs.disabled.count %></h2>
  <% @company.jobs.each do |job| %>
    <% if job.disabled? %>
      <%= link_to job.title, job_path(job) %>
      <hr>
    <% end %>
  <% end %>